<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AILogSys" connectionString="Data Source=MILTON-PC\SQLEXPRESS;AttachDBFilename=C:\Users\Milton\NewDeal\Databases\AILogSys.mdf;user Id=sa; password=newdeal12;Integrated Security=True;Connect Timeout=30;User Instance=False" providerName="System.Data.SqlClient" />
    <add name="AilsJoya" connectionString="Data Source=MILTON-PC\SQLEXPRESS;AttachDBFilename=C:\Users\Milton\NewDeal\Databases\AilsJoya.mdf;user Id=sa; password=newdeal12;Integrated Security=True;Connect Timeout=30;User Instance=False" providerName="System.Data.SqlClient" />
    <add name="AILogBack" connectionString="Data Source=MILTON-PC\SQLEXPRESS;AttachDBFilename=C:\Users\Milton\NewDeal\Databases\AILogBack.mdf;user Id=sa; password=newdeal12;Integrated Security=True;Connect Timeout=30;User Instance=False" providerName="System.Data.SqlClient" />
    <add name="AILogDemo" connectionString="dialect=3;character set=UTF8;password=masterkey;user id=SYSDBA;initial catalog=AILogSysDemo.fdb;server type=Embedded" providerName="FirebirdSql.Data.FirebirdClient" />
    <add name="AsturCedis" connectionString="Server=174.136.26.165;Database=u105374_respC;Uid=u105374_respC;Pwd=CcqResp1" providerName="MySql.Data.MySqlClient" />
   </connectionStrings>
  <appSettings>
    <add key="mailList" value="Milton Martinez Luaces, mmartinezluaces@gmail.com; Nicolas, nico@elsasturiano.com.mx; Francisco Medina, francisco0020@hotmail.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" providerName="FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>